* {
    margin: 0;
    box-sizing: border-box;
}

#info {
    width: 40%;
    margin: 50px auto;
    border: 3px solid brown;
    background-color: rgb(231, 236, 236);
    padding: 30px 30px;
}



.infoBox {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.boxName {
    font-size: 1rem;
    font-weight: bold;
    color: green;
    text-align: right;
}

#getPersonBtn {
    width: 30%;
    height: 30px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.error {
    border: 2px solid red;
}


.modal-wrapper {
    background-color: rgba(128, 128, 128, 0.4);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    padding: 1rem;
    border: 3px solid purple;
    background-color: white;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

#closeBtn {
    border: none;
    background-color: inherit;
    outline: inherit;
    float: right;
    font-size: 1rem;
    color: red;
    cursor: pointer;
}